@page "/allergenage"

<h3>AllergenAge</h3>

<input type="file" id="fileInput" />

<div id="csvTable"></div>

<script>
    document.getElementById('fileInput').addEventListener('change', function (e) {
        var file = e.target.files[0];
        var reader = new FileReader();

        reader.onload = function (e) {
            var csv = e.target.result;
            var rows = csv.split('\n');

            var html = '<table>';
            rows.forEach(function (row) {
                html += '<tr>';
                var columns = row.split(',');
                columns.forEach(function (column) {
                    html += '<td>' + column + '</td>';
                });
                html += '</tr>';
            });
            html += '</table>';

            document.getElementById('csvTable').innerHTML = html;
        };

        reader.readAsText(file);
    });
</script>