@page "/allergenlist"

<PageTitle>Allergen List</PageTitle>

<h1>Allergen List</h1>


<img src="big8.png" alt="Big 8 Allergens" />

<ul>
    <li><NavLink href="/milk">Milk</NavLink></li>
    <li><NavLink href="/eggs">Eggs</NavLink></li>
    <li><NavLink href="/fish">Fish</NavLink></li>
    <li><NavLink href="/crustacean">Crustacean Shellfish</NavLink></li>
    <li><NavLink href="/treenut">Tree Nut</NavLink></li>
    <li><NavLink href="/peanut">Peanuts</NavLink></li>
    <li><NavLink href="/Wheat">Wheat</NavLink></li>
    <li><NavLink href="/soybean">Soybean</NavLink></li>
</ul>



@code {

}