@page "/crustacean"
<PageTitle>Crustacean Allergens</PageTitle>

<h3>Crustacean Shellfish</h3>
<p>Crustacean is another food category that is very common with food Allergens. This includes:</p>
<ul>
    <li>Crab</li>
    <li>Lobster</li>
    <li>Shrimp</li>
    <li>Mollusks (which is included to the high similarities in allergens).</li>
</ul>
<p>Tropomyosin is an allergen also found in crustaceans,  dust  mites,  and  cockroach  and  other  insects<sup><a href="/reference#6">6</a></sup></p>

@code {

}
