@page "/eggs"
<PageTitle>Egg Allergens</PageTitle>

<h1>Egg Allergens</h1>

<p>Egg Allergen Proteins are very similar in various Species. Some Examples are:</p>
<ul>
    <li>Chickens</li>
    <li>Duck</li>
    <li>Geeese</li>
    <li>Quail</li>
    <li>Various other bird species</li>
</ul>

<p>the are five major allergeniciv components in egg whiites: ovomucoid (Gal d 1), ovalbumin (Gal d 2), ovotransferrin (Gal d 3), egg white lysozyme (Gal d 4), and ovomucin </p>
<p>Although these are the major allergenic proteins, lipocalin-type prostaglandin D synthase and egg white cystatin have also been associated with IgE reactivity.<sup><a href="/reference#4">4</a></sup></p>
<p>Egg allergy is IgE-mediated and individuals generate antigen-specific IgE<sup><a href="/reference#4">4</a></sup></p>
<p>The consensus is that IgeE responses are genetically controlled by MHC-Linked genes that are found on chromosome six<sup><a href="/reference#4">4</a></sup></p>
<p>Egg allergy is a result of a balance between TH2 derived cytokines that promote IgE response and Th1-derived cytokine downregulation creating an overproduction of IL-4 by TH2 cells<sup><a href="/reference#4">4</a></sup></p>
    


@code {

}
