@page "/fish"
<PageTitle>Fish Allergens</PageTitle>

<h1>Fish</h1>

<p>Fish allern Proteins can vary from different fish species. The most common Fish Species with identified Allergens are:</p>
<ul>
    <li>Bass</li>
    <li>Flounder</li>
    <li>Salmon</li>
    <li>Cod</li>
</ul>

<p>There is a limited number of proteins that induce specific IgE-mediated immune reactions<sup><a href="/reference#5">5</a></sup></p>
<p>They are members of the calcium-binding EF-hand protein family characterized by a conserved protein structure. They represent highly cross-reactive allergens for patients with specific IgE to conserved epitopesThey are members of the calcium-binding EF-hand protein family characterized by a conserved protein structure. They represent highly cross-reactive allergens for patients with specific IgE to conserved epitopes <sup><a href="/reference#5">5</a></sup></p>
<p>Some individuals have IgE antibodies directed against unique, species-specific parvalbumin epitopes, and these patients show clinical symptoms only with certain fish species. Furthermore, different parvalbumin isoforms and isoallergens are present in the same fish and might display variable allergenicity<sup><a href="/reference#5">5</a></sup></p>
<p>clinical monosensitivity to single fishes has been proven for sole, swordfish, pangasius/tilapia, tuna/marlin, and more recently, for salmon and salmonid fishes<sup><a href="/reference#5">5</a></sup></p>
<p>*Keep in mind you may have an allergic reaction to parasites that have infected the fish*</p>
<p>One common protein that has been identified in many fish species (at variant degrees) that causes an IgE response is Beta-parvalbumin</p>
<p>parvalbumin content differs considerably in fish species and the different amount of parvalbumins correlates with the variable allergenicity of fishes<sup><a href="/reference#5">5</a></sup></p>
<p>Potential allergens of known identity were found in cod (aldehyde phosphate isomerase), salmon (triose-phosphate isomerase, fructose-bis-phosphate isomerase, serum albumin), and tuna (creatine kinase, beta-enolase)<sup><a href="/reference#5">5</a></sup></p>
@code {

}
