@page "/"

<PageTitle>Home</PageTitle>

<h1>The world of Allergens</h1>

This site is to educate you on the various allergens, and could potentially look for other foods that you may have a reaction to so that you stay aware and also have a piece of mind.
