@page "/milk"

<PageTitle>Milk Allergens</PageTitle>

<h1>Milk Allergens</h1>

<p>Milk Alergens can be found in various animal species such as:</p>
<ul>
    <li>Cow (CMA)</li>
    <li>Goats</li>
    <li>Sheep</li>
    <li>Deer</li>
    <li>Buffalo</li>
    <li>Other mammal species</li>
</ul>
<p> Allergic Reactions from milk can be Ige-mediated, non-IgE or a mixture of both</p>
<p>Most children with CMA have immunoglobulin E (IgE)-mediated allergy as a manifestation of their atopic constitution, with or without atopic eczema, asthma, or allergic rhinitis<sup><a href="/reference#1">1</a></sup></p>
<p>The main proteins in cow’s milk include casein (which accounts for approximately 80% of the total milk protein) and whey (which accounts for approximately 20%). The primary whey allergens are α-lactalbumin (Bosd4), β-lactoglobulin (Bosd5) and bovine serum albumin (Bosd6).<sup><a href="/reference#2">2</a></sup></p>
<p> The group of caseins is characterized by Molecular Weights (MW) that range between 20 and 30 kDa, it includes αS1- (12–15 g/L), αS2- (3–4 g/L), β- (9–11 g/L), κ- (6–8 g/L) and γ- (3–4 g/L) caseins.<sup><a href="/reference#3">3</a></sup></p>
<p> whey proteins comprise β-lactoglobulin (3–4 g/L; MW 18.3 kDa), α-lactalbumin (1–1.5 g/L; MW 14.2 kDa), bovine serum albumin (0.1–0.4 g/L; MW 67 kDa); immunoglobulins (0.6–1 g/L; MW 160 kDa) and lactoferrin (0.09 g/L; MW 76–80 kDa) (Besler et al., 2002; Wal, 1998).<sup><a href="/reference#3">3</a></sup></p>
@code {

}
