@page "/peanut"
<PageTitle>Peanut</PageTitle>
<h3>Peanuts</h3>
<p>Nearly 30 million people have been reported to have peanut allergies in the US <sup><a href="/reference#8">8</a></sup></p>
<p>There are four structural protein families that peanut allergies fall into. Thos four families are:</p>
<ul>
    <li> Promalin superfamily<sup><a href="/reference#8">9</a></sup></li>
    <li> Cupin superfamily<sup><a href="/reference#8">9</a></sup></li>
    <li> Profilins superfamily<sup><a href="/reference#8">9</a></sup></li>
    <li> Bet v-1-related proteins<sup><a href="/reference#8">9</a></sup></li>
</ul>
<p>Peanuts harbor 12 allergens and multiple isoforms recognized by the Allergen Nomenclature Sub-Committee of the International Union of Immunological Societies, 70 % of which fall into these families <sup><a href="/reference#9">9</a></sup></p>
<p>Minor allergens are recognized by the serum IgE of less than 50 % of the allergic population<sup><a href="/reference#9">9</a></sup></p>


@code {

}
