@page "/reference"

<h3>Reference</h3>

<ol>
    <li id="1"> Kneepkens, C. M., & Meijer, Y. (2009). Clinical practice. Diagnosis and treatment of cow's milk allergy. European journal of pediatrics, 168(8), 891–896. https://doi.org/10.1007/s00431-009-0955-7</li>
    <li id="2"> Flom, J. D., & Sicherer, S. H. (2019). Epidemiology of Cow's Milk Allergy. Nutrients, 11(5), 1051. https://doi.org/10.3390/nu11051051 </li>
    <li id="3">
         Lajnaf, R., Feki, S., Ameur, S. B., Attia, H., Kammoun, T., Ayadi, M. A., & Masmoudi, H. (2023). Recent advances in selective allergies to mammalian milk proteins not associated with Cow's Milk Proteins Allergy. Food and Chemical Toxicology, 178, 113929. https://doi.org/10.1016/j.fct.2023.113929
    </li>
    <li id="4"> Mathew, P., & Pfleghaar, J. L. (2023, July 4). Egg Allergy. In StatPearls [Internet]. Treasure Island, FL: StatPearls Publishing. Retrieved from https://www.ncbi.nlm.nih.gov/books/NBK538192/#:~:text=Hen%20egg%20yolk%20also%20contains,allergen%20in%20hen%20egg%20white </li>
    <li id="5">
        Kuehn, A., Swoboda, I., Arumugam, K., Hilger, C., & Hentges, F. (2014). Fish allergens at a glance: variable allergenicity of parvalbumins, the major fish allergens. Frontiers in immunology, 5, 179. https://doi.org/10.3389/fimmu.2014.00179
    </li>
    <li id="6"> European Food Safety Authority. (2006). Opinion of the Scientific Panel on Dietetic products, nutrition and allergies (NDA) related to the evaluation of molluscs for labelling purposes. EFSA Journal, 4(2), 327. https://doi.org/10.2903/j.efsa.2006.327</li>
    <li id="7"> Kuźmiński, A., Przybyszewski, M., Przybyszewska, J., Ukleja-Sokołowska, N., Pałgan, K., & Bartuzi, Z. (2021). Tree nut allergy. Postepy dermatologii i alergologii, 38(4), 544–549. https://doi.org/10.5114/ada.2021.108894 </li>
    <li id="8">
        Liu, A. H., Jaramillo, R., Sicherer, S. H., Wood, R. A., Bock, S. A., Burks, A. W., Massing, M., Cohn, R. D., & Zeldin, D. C. (2010). National prevalence and risk factors for food allergy and relationship to asthma: results from the National Health and Nutrition Examination Survey 2005-2006. The Journal of allergy and clinical immunology, 126(4), 798–806.e13. https://doi.org/10.1016/j.jaci.2010.07.026
    </li>
    <li id="9">
        Mueller, G. A., Maleki, S. J., & Pedersen, L. C. (2014). The molecular basis of peanut allergy. Current allergy and asthma reports, 14(5), 429. https://doi.org/10.1007/s11882-014-0429-5
    </li>
    <li id="10">
        Patel, N., & Samant, H. (2024). Wheat Allergy. In StatPearls [Internet]. Treasure Island, FL: StatPearls Publishing. Retrieved from https://www.ncbi.nlm.nih.gov/books/NBK536992/
        Randhawa, I. S., Groshenkov, K., & Sigalov, G. (2023). Food anaphylaxis diagnostic marker compilation in machine learning design and validation. PLoS ONE, 18(4), 1-12. 10.1371
    </li>
    <li id="11">
        Cianferoni A. (2016). Wheat allergy: diagnosis and management. Journal of asthma and allergy, 9, 13–25. https://doi.org/10.2147/JAA.S81550</li>
   <li id="12">
        Patel, N., & Samant, H. (2024). Wheat Allergy. In StatPearls [Internet]. Treasure Island, FL: StatPearls Publishing. Retrieved from https://www.ncbi.nlm.nih.gov/books/NBK536992/
        Randhawa, I. S., Groshenkov, K., & Sigalov, G. (2023). Food anaphylaxis diagnostic marker compilation in machine learning design and validation. PLoS ONE, 18(4), 1-12. 10.1371
    </li>
</ol>

@code {

}