@page "/soybean"
<PageTitle>Soybean Allergens</PageTitle>
<h1>Soybeans</h1>
<p>Soybeans are another common food that </p>
<p>The issues with soy beans is that it is not only ingested as a bean itself, but is commonly found in a variety of cooking oils</p>
<p>Soybean allergies can be divided into class 1 food allergies and class 2 food allergies based on differences in sensitization routes [7,8]; 7S globulin (Gly m 5) [9,10], 11S globulin (Gly m 6) [11], Gly m 7 [12], Gly m Bd 30K [13,14], Kunitz-type trypsin inhibitor [15], oleosin [16], etc. have been identified as class 1 food allergens causing class 1 allergy<sup><a href="/reference#12">12</a></sup></p>
<p>GM soybeans had similar allergenicity to non-GM soybeans</p>
<p>It is important to note that soybeans are a common allergen in children and adults</p>

@code {

}
