@page "/treenut"
<PageTitle>Tree Nut Allergens</PageTitle>

<h3>Tree nut</h3>
<p>This allern food group is a bit lengthy but all share relative allergen proteins. This includes:</p>
<ul>
    <li>Almonds</li>
    <li>Brazil nuts</li>
    <li>Cashew nuts</li>
    <li>Hazel nuts</li>
    <li>Chest nuts</li>
    <li>Macadamia nuts</li>
    <li>Pecan nuts</li>
    <li>Pisatacios</li>
    <li>Walnuts</li>
</ul>
<p>Allergies to tree nuts usually start in childhood, but unlike other food allergies, they rarely fade away and generally persist throughout life<sup><a href="/reference#7">7</a></sup></p>
<p>Two proteins were described as the main allergens, one of which is thermolabile and the other thermally stable. The main allergen of the almond, responsible for most allergic reactions, is the storage protein (AMP, amandine), which is a highly thermolabile protein and is probably equivalent to the previously described 2S albumin<sup><a href="/reference#7">7</a></sup></p>
<p>The main types of allergens of almonds is 2s albumin which lads to cross-reaction with other foods that contain this protein such as walnuts, sunflower seeds, peanuts and many others<sup><a href="/reference#7">7</a></sup></p>
<p>almonds was also described: as much as 33% of birch pollen allergy patients had a simultaneous hypersensitivity to almonds<sup><a href="/reference#7">7</a></sup></p>
<p>Ber e 1 is associated with the occurrence of serious allergic reactions. It occurs in large quantities in Brazil nuts and is resistant to temperature and digestive processes [13]. 2S albumin is similar to 2S albumin of cotton, cocoa beans, sunflower seeds, rapeseed, walnut (Jug r 1), mustard seeds (Sin a 1) and sesame seeds (Ses i 2)<sup><a href="/reference#7">7</a></sup></p>
<p>allergenic cashews have been characterized: Ana o 1 (7S globulin, vicilin); Ana o 2 (11S globulin, legumin); Ana o 3 (2S albumin); Ana o 4 (Profilin)<sup><a href="/reference#7">7</a></sup></p>
<p>Recent studies have shown a significant homologation between 11s globulin (Jug r 4) of the walnut and the cashew (Ana o 2) and hazelnut (Cor a 9) [21]. It has also been shown that peanut (Ara h 1), walnut (Jug r 2), hazelnut (Cor a 11) and cashew (Ana o 1) have a similar structure, which suggests the possibility of cross reactions<sup><a href="/reference#7">7</a></sup></p>
<p>hazel allergens have been characterized: Cor a 1 (protein PR-10); Cor a 2 (profilin); Cor a 6 (isoflavone reductase approval); Cor a 8 (non-specific LTP type 1); Cor a 9 (11S legumin, storage protein); Cor (LBP, luminal binding protein); Cor a 11 (7S vicilin, storage protein); Cor a 12 (oleosin of 17 kDa molecular weight); Cor a 13 (oleosin of molecular weight 14–16 kDa); Cor a 14 (2S albumin)<sup><a href="/reference#7">7</a></sup></p>
<p>Chestnut is considered to be the 3rd most common food allergen in adults<sup><a href="/reference#7">7</a></sup></p>
}
