@page "/wheat"
<PageTitle>Wheat Allergens</PageTitle>
<h3>Wheat</h3>
<p>Wheat allergens have been identified in both Ige and non-IgE-mediated reaction.</p>
<p>Wheat allergies is more common in children and can be be wheat-dependent exercise-induced anaphylaxis (WDEIA)<sup><a href="/reference#10">10</a></sup></p>
<p>Wheat Allergens could also be inhalation-induced Ige which is commonly known as baker's asthma'<sup><a href="/reference#10">10</a></sup></p>
<p>Some commonly known wheat Allergen proteins are:</p>
<ul>
    <li>α-purothionin</li>
    <li>α-amylase/trypsin inhibitor</li>
    <li>Peroxidases</li>
    <li>Thioredoxin</li>
    <li>Lipid protein transfer</li>
    <li>Serine proteinase inhibitor</li>
    <li>Thaumatin-like protein (TLP)</li>
    <li>Gliadin</li>
    <li>1-cys-peroxiredoxin</li>
    <li>Serine protease like inhibitor</li>
<sup><a href="/reference#11">11</a></sup></ul>
<p>Tri a 37 is a plant defense protein and is highly expressed in wheat seeds. It is highly stable and resistant to heat and digestion<sup><a href="/reference#11">11</a></sup></p>
<p>For Italian youth it has been reported that Nonspecific lipid transfer protein (nsLTP or Tri a 14) is a common Allergen<sup><a href="/reference#11">11</a></sup></p>
@code {

}
